@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb; /* light neutral background */
  color: #053a34; /* your theme's primary text color */
}
